<div class="row justify-content-center mt-3">
  <div class="col col-md-4">

    <div class="card border-primary">
      <div class="card-body">

        <h3><%= t('sign_up') %></h3>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="form-group">

            <p>
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </p>

            <p>
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            </p>

            <p>
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
            </p>

            <p>
              <%= f.label :first_name %>
              <%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
            </p>

            <p>
              <%= f.label :last_name %>
              <%= f.text_field :last_name, autofocus: true, class: 'form-control' %>
            </p>

            <%= f.submit t('sign_up'), class: 'btn btn-primary' %>

            <p class="mt-3">
              <%= render "devise/shared/links" %>
            </p>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
