<h2 class="mb-3">
  <%= t('.my_badges') %>
</h2>

<table class="table">
  <tbody>
    <%= render @badges %>
    <%= t('.badges_empty') if @badges.empty? %>
  </tbody>
</table>

<h2 class="mb-3">
  <%= t('.not_received_badges')%>
</h2>

<table class="table">
  <tbody>
    <%= render @not_received_badges %>
    <%= t('.received_all_badges') if @not_received_badges.empty? %>
  </tbody>
</table>

<br/>
<div>
  <%= link_to t('back'), tests_path, class: 'link'%>
</div>
