<h2 class="mb-3">
  <%= t('.my_badges') %>
</h2>
<div class="mb-4">
  <%= render @badges %>
</div>
<h2 class="mb-3">
  <%= t('.not_received_badges')%>
</h2>
<div>
  <%= render @not_received_badges
    t('.received_all_badges') if @not_received_badges.empty?%>
</div>

<br/>
<div>
  <%= link_to t('back'), tests_path, class: 'link'%>
</div>
