<h1><%= t('.header') %></h1>

<h2><%= t('.question') %>: <%= @answer.question.body %> </h2>

<%= render 'form' %>

<%= link_to t('back'), admin_question_path(@answer.question) %> |
<%= link_to t('show'), admin_answer_path(@answer) %>
