<p id="notice"><%= notice %></p>

<h1>Test Progresses</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_progresses.each do |test_progress| %>
      <tr>
        <td><%= link_to 'Show', test_progress %></td>
        <td><%= link_to 'Edit', edit_test_progress_path(test_progress) %></td>
        <td><%= link_to 'Destroy', test_progress, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test Progress', new_test_progress_path %>
