<div class="row">
  <div class="col col-mb-4">

    <%= form_with model: [:admin, @test], local: true do |form| %>
      <% render 'shared/errors', entity: @test %>

      <div class="form-group">
        <p>
          <%= form.label :title %>
          <%= form.text_field :title, id: :test_title, class: "form-control" %>
        </p>

        <p>
          <%= form.label :level %>
          <%= form.number_field :level, class: "form-control" %>
        </p>

        <p>
          <%= form.label :category_id %>
          <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true, class: "form-control" %>
        </p>

        <%= form.submit class: 'btn btn-primary' %>
      </div>
    <% end %>

  </div>
</div>
