<table class="table mt-5">
  <thead class="thead-light">
    <tr>
      <th><%= t('.test') %></th>
      <th><%= t('.questions') %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.action') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>
