<h1><%= t('.all_tests') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('.test') %></th>
      <th><%= t('.questions') %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.action') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
<table>
