<br/>
<br/>
<br/>
<hr/>
<footer>
  <p><%= current_year %> | <%= t('.developed', full_name: 'Boris Poluianov' )%> |
    <%= t('.repo') %>: <%= github_url('BorisPoluianov', 'TestGuru') %></p>
  <p><%= t('.info') %>:
    <%= link_to 'Thinknetica.com', 'http://thinknetica.com/',
    target: :_blank %> - <%= t('.school_info') %>.</p>
  <p><%= link_to t('.feedback'), new_feedback_path %></p>
</footer>
